* {
  box-sizing: border-box;
  padding-top: 5px;
  margin-left: 20px;
  /* background-color: #d2dbdd; */
  font-family: "Josefin Sans", "Arial Narrow", Arial, sans-serif;
  background-color: cornsilk;
}
